@import './base/listas';
@import './components/header';
@import './components/mainlanding';
@import './components/footer';
@import './base/mixins';
@import './base/extends';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: nth($colores, 1);
}
h1 {
	font-size: nth($medidas-texto, 2);
	animation-duration: 4s;
	position: relative;
	animation-name: slidein;
}
h2 {
	font-size: nth($medidas-texto, 3);
	animation-duration: 4s;
	position: relative;
	animation-name: slidein;
}
h3 {
	font-size: nth($medidas-texto, 4);
	animation-duration: 4s;
	position: relative;
	animation-name: slidein;
}
h4 {
	font-size: nth($medidas-texto, 5);
	animation-duration: 4s;
	position: relative;
	animation-name: slidein;
}
h5 {
	font-size: nth($medidas-texto, 6);
	animation-duration: 4s;
	position: relative;
	animation-name: slidein;
}
p {
	font-size: nth($medidas-texto, 5);
}
a {
	text-decoration: none;
	color: nth($colores, 2) !important;
}
@include animation-mixin(slidein, 0, 100%)