* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY Y FUENTES */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2.2em;
}

h5 {
    font-size: 1.7em;
}

p {
    font-size: 1.5em;
    overflow: hidden;
}

p, h1, h2, h3, h4, h5 {
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


/* BOTON RESERVA */
button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: palevioletred;
}

button:hover {
    background-color: rgb(231, 58, 116);
    transition: all 1s ease-out;
}


.container-fluid {
    max-width: 1000px;
    margin: auto;
}
/* HEADER */

.logo{
    margin: 0;
    height: 30vh;
    padding: 10px 15px;
}


header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
    color: palevioletred !important;
    transition: all 1s ease-out;
}


#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("multimedia/imagenes/catcafe1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

#home h1 {
    color: white;
}

#somos-catfecito .container {
    text-align: center;
    padding: 150px 10px;
}

#somos-catfecito {
    background: url("multimedia/imagenes/cafe1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 190vh;
    color: white;
}

#somos-catfecito h2 {
    height: 20vh;
    color: rgb(255, 255, 255);
}



#donde-estamos {
    background-color: rgb(45, 45, 45);
    color: white;
    text-align: center;
}

#donde-estamos .container {
    text-align: center;
    padding: 20px;
}

#donde-estamos p {
    display: none;
}

#div h4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color:white;
    background-color: rgb(45,45,45);
}

.carousel-inner{
    max-height: 120vh;
}



/* GRID PARA GALERIA */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: rgb(45,45,45);
}

#contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(45,45,45);
    color: white;
}

#contactanos button {
    font-size: 2vw;
}

.final {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(45, 45, 45);
    color: white;
}

/* TEST MEDIA */

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header .nav {
        flex-direction: row;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 600px){
    #somos-catfecito {
        margin-left: 0;
        margin-right: 0;
    }
}

