@import '../base/listas';
@import '../base/mixins';
@import '../base/extends';

// header boot + modificaciones + media queries via mixin

.logo {
	margin: 0;
	height: 30vh;
	padding: 10px 15px;
}


header {
	.nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-bottom: 25px;
		@include for-mobile {
			flex-direction: row;
			padding-bottom: 0;
		}
	}
	height: 20%;
	text-decoration: none;
	color: nth($colores, 11);
	font-weight: bold;
	background: rgb(0,0,0,0.7);
	z-index: 2;
	@include for-mobile {
		position: fixed;
		width: 100%;
		flex-direction: row;
		justify-content: center;
	}
}
.nav-link {
	&:hover {
		color: nth($colores, 12) !important;
		transition: all 1s ease-out;
	}
}
