 // Keyframes mixin 



// Media Queries mixin 

@mixin for-mobile {
    @media (min-width: 720px) {
        @content;
    }
}

@mixin for-text {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

//   @keyframes slidein 

@mixin animation-mixin($name, $from, $to) {
    @keyframes #{$name} {
        0% {
            margin-left: 100%;
            width: 300%;
            transform: rotate($from 0deg);
        }
        100% {
            margin-left: 0%;
            width: 100%;
            transform: rotate($to 360deg);
        }
    }
}